body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background: url("../images/background.png");
  background: cover;
}
h2{ margin-left: 5%;
}
header{
  background-size: 1.5em;
  text-align: center;
  color:white;
  text-shadow: 2px 2px #990000;
}
p {
  font-size: 20px;
  color:white;
 margin-left: 3%;
 margin-right:3%;
}

#jewel1 {
	background-image: url('../images/jewel1.png');


}
#jewel2 {
	background-image: url('../images/jewel2.png');
 

}
#jewel3 {
	background-image: url('../images/jewel3.png');


}
#jewel4 {
	background-image: url('../images/jewel4.jpg');
 
}



#jewel1, #jewel2, #jewel3, #jewel4 {
  text-align: center;
    width:  125px;
    height: 125px;
    background-position:50% 50%;
    background-repeat:no-repeat;
    background-size:cover;
    border-radius: 25px;

  }
  video {
  float: left; 
  width: 25%;  
  margin-bottom: 0.5em;}

